@using lab2.Entities
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Model is User user)
    {
        <img src="@user.ProfilePic" class="profile-pic">
        <h1 class="display-4 greetings">Welcome, @user.FirstName @user.LastName</h1>
        <p><a asp-controller="Logout">Logout</a></p>
    }
    else 
    {
        <h1 class="display-4 greetings">Welcome</h1>
        <p><a href="@ViewData["AuthUrl"]">Authenticate in VK</a></p>
    }
</div>
